{% extends "base.html" %}

{% block content %}
<form action="/new-post" method="Post">
    <p><label>
        Title of Blog:<br />
        <input type="text" name="title" value = "{{title}}" />
        <div style="color:#4C00FF;">{{title_error}}</div>
    </label></p>
    <p><label>Body:</label><br />
    <textarea name="body" name="message" rows="10" cols="30">{{body}}</textarea>
    <div style="color:#9900FF;">{{body_error}}</div></p>
    <p><input type="submit" value="Add Entry" /></p>
</form>
{% endblock %}